.tabs {
  ul {
    display: flex;
    justify-content: center;

    li {
      font-family: Rubik;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      text-align: right;
      color: #333333;
      cursor: pointer;
      margin: 0 10px;

      &.active {
        color: #e5261e;
        border-bottom: 2px solid #e5261e;
      }
    }
  }
}
